body {
    font-family: Arial, sans-serif;
}

.guide {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*float: right;*/
    /*z-index: 999;*/
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#button-control button {
    padding: 10px 20px;
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-step:hover {
    background-color: #0056b3;
}
